<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anatomy Of The Breast</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2 class="h2 text-center">Gross Anatomy of the Breast</h2>
        <p class="lead">
            The breast is a paired structure located in the anterior thoracic wall, in the pectoral region.
            It extends horizontally from the lateral border of the sternum to the mid-axillary line.
            Vertically, it spans between the 2nd and 6th costal cartilages.
            It lies superficially to the pectoralis major and serratus anterior muscles.
            The arterial supply to the medial aspect of the breast is via the internal thoracic artery.
            The lateral part of the breast receives blood via four vessels, namely:
        </p>
        <div>
            <ol class="list-decimal">
                <li>Mammary branches</li>
                <li>Lateral mammary branches</li>
                <li>Lateral thoracic branches</li>
                <li>Thoracoacromial branches</li>
            </ol>
        </div>
        <div class="text-center">
            <h3 class="h3">Image: Structure of the Breast</h3>
            <img src="https://healthinfo.healthengine.com.au/uploads/VMC/PageImages/2897_breasts_normal_pub_450_v2.jpg" class="img-fluid" alt="Breast Structure">
        </div>
        <div>
            <h4 class="h4">Structures found in the breast:</h4>
            <ul class="list-square">
                <li>Ribs</li>
                <li>Pectoral fascia</li>
                <li>Fats</li>
                <li>Adipose tissue</li>
                <li>Milk duct</li>
                <li>Intercostal muscles</li>
                <li>Nipples</li>
                <li>Areola region</li>
                <li>Lactiferous sinus</li>
                <li>Lactiferous duct</li>
                <li>Suspensory ligament</li>
            </ul>
        </div>
    </div>
</body>
</html>